In [67]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("data/CatalogueProduit.csv", encoding="ISO-8859-1", sep=";")

In [30]:
df.shape

(2801, 14)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   COPRO   2801 non-null   object
 1   LIPRLG  2342 non-null   object
 2   CTENSI  2801 non-null   object
 3   COPRID  2801 non-null   object
 4   COPROG  2801 non-null   object
 5   LIPRO   2342 non-null   object
 6   COPRG1  2801 non-null   object
 7   LIPRG1  2800 non-null   object
 8   COPRG2  2801 non-null   object
 9   LIPRG2  2800 non-null   object
 10  COPRG3  2801 non-null   object
 11  LIPRG3  2800 non-null   object
 12  COPRG4  2801 non-null   object
 13  LIPRG4  2800 non-null   object
dtypes: object(14)
memory usage: 306.5+ KB

In [32]:
df.head(n=1)

,COPRO,LIPRLG,CTENSI,COPRID,COPROG,LIPRO,COPRG1,LIPRG1,COPRG2,LIPRG2,COPRG3,LIPRG3,COPRG4,LIPRG4
0,07018,FREQUENCE PRO STOCK OUEST SOCIETE,CNV,0000005,I1221,CONV FREQ PRO,I0000,SERVICES BANCAIRES,I1000,CONVENTIONS,I1200,CONVENTIONS DE RELATION,I1220,CONVENTIONS PROFESSIONNELS

In [35]:
df["COPRO"].nunique()

2343

In [36]:
df["COPROG"].nunique()

915

In [37]:
df["LIPRLG"].unique()

array(['FREQUENCE PRO STOCK OUEST SOCIETE', 'FREQUENCE LIBERALE BPS',
       'FREQUENCE PRO 2 STOCK BPPOAA', ..., 'FR SELECTION CAPI',
       'EFFETS A PAYER', 'Carte Visa business Electron'], dtype=object)

In [47]:
for i in df['COPRO'].unique():
    if not i.isdigit():
        print(i)

CB_FI

In [60]:
df[df.COPRO == 'CB_FI']

Empty DataFrame
Columns: [COPRO, LIPRLG, CTENSI, COPRID, COPROG, LIPRO, COPRG1, LIPRG1, COPRG2, LIPRG2, COPRG3, LIPRG3, COPRG4, LIPRG4]
Index: []

In [54]:
df = df.drop(df.index[1270])

In [55]:
df[df.COPRO == 'CB_FI']

Empty DataFrame
Columns: [COPRO, LIPRLG, CTENSI, COPRID, COPROG, LIPRO, COPRG1, LIPRG1, COPRG2, LIPRG2, COPRG3, LIPRG3, COPRG4, LIPRG4]
Index: []

In [56]:
df.shape

(2800, 14)

In [61]:
#df['COPRO'].astype(int)

In [78]:
lol = list()
for i in df['COPRO'].unique():
    if not i.isdigit():
        lol.append(i)

In [80]:
df['COPRO'].replace(lol, np.nan, inplace=True)

In [81]:
df['COPROG'].replace(lol, np.nan, inplace=True)

In [82]:
df.dropna(subset=['COPRO'], inplace=True)
df.dropna(subset=['COPROG'], inplace=True)

In [83]:
df.shape

(2341, 14)

In [87]:
df['COPRO'].astype(int)

0        7018
1        2116
2        2019
3        2115
4        2018
        ...
2796     7614
2797    74291
2798      692
2799      653
2800      872
Name: COPRO, Length: 2341, dtype: int64

In [88]:
df[["COPRO", "COPROG"]].to_csv("products.csv", index=False, sep="\t")

In [89]:
shit = pd.read_csv("products.csv", encoding="ISO-8859-1", sep="\t")

In [90]:
shit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   COPRO   2341 non-null   int64
 1   COPROG  2341 non-null   object
dtypes: int64(1), object(1)
memory usage: 36.7+ KB