In [18]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("data/tj10.csv", sep=";")

In [13]:
df.shape

(60, 5)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CTSCPI  60 non-null     int64
 1   LISCPI  60 non-null     object
 2   CESITC  60 non-null     int64
 3   DDVALE  60 non-null     object
 4   DFVALE  60 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.5+ KB

In [15]:
df.head()

   CTSCPI                            LISCPI  CESITC      DDVALE      DFVALE
0    6600  OUVRIERS NON QUALITES                  1  2006-11-03  9999-01-01
1    6100  OUVRIER QUALIFIE                       1  2006-11-03  9999-01-01
2    8200  INACTIFS DIVERS NON RETRAITES          1  2006-11-03  9999-01-01
3    1300  AGRICULTEUR GRANDE EXPLOITATION        1  2006-11-03  9999-01-01
4    6500  OUV QUAL MANUT MAGASIN TRANSPORT       1  2006-11-03  9999-01-01

In [16]:
df.CTSCPI.nunique()

60

In [17]:
df.LISCPI.nunique()

60

In [19]:
df['CTSCPI'].replace(0, np.nan, inplace=True)

In [21]:
df.dropna(subset=['CTSCPI'], inplace=True)

In [24]:
df["CTSCPI"] = df["CTSCPI"].astype(int)
df.CTSCPI.unique()

array([6600, 6100, 8200, 1300, 6500, 8300, 2300, 8600, 4000, 6800, 3200,
       4300, 4200, 2000, 3000, 4800, 7700, 5300, 4500, 3300, 2100, 7200,
       7300, 4700, 4400, 3800, 6200, 1100, 3600, 5600, 7800, 5200, 8000,
       8400, 3400, 4100, 7500, 3700, 6300, 5000, 4600, 8100, 7100, 3500,
       6900, 3100, 5500, 2200, 8500, 1200, 6400, 6000, 5100, 7400, 6700,
       1000, 7600, 5400, 7000])

In [27]:
df[["CTSCPI", "LISCPI"]].to_csv("insee-codes.csv", index=False, sep="\t")