In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../../data/tj3p.csv", sep=";")

In [4]:
df.shape

(3342711, 6)

In [5]:
df.dtypes

COMAX     object
CTPE       int64
CORELB     int64
CESITC     int64
DDVALE    object
DFVALE    object
dtype: object

df.info()

In [6]:
df.head()

        COMAX  CTPE  CORELB  CESITC      DDVALE      DFVALE
0  6e3a2b9fa1     1       1       0  2015-10-12  2016-02-01
1  6e3a2b9fa1     1       1       0  2016-02-01  2017-06-09
2  6e3a2b9fa1     1       1       0  2017-06-09  2018-06-13
3  6e3a2b9fa1     1       1       0  2018-06-13  2019-09-10
4  6e3a2b9fa1     1       1       0  2019-09-10  2019-10-04

In [8]:
df.CORELB.unique()

array([1, 4])

In [9]:
df.CTPE.unique()

array([1, 2])

In [13]:
df.COMAX.isnull().unique()

array([False])

In [14]:
df[["COMAX", "CTPE", "CORELB"]].to_csv("moral-clients.csv", index=False, sep="\t")