In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/tj7s-sample.csv", encoding="ISO-8859-1", sep=";")

In [6]:
df.shape

(9, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   COCO    9 non-null      object
 1   COMAX   9 non-null      object
 2   DDCO    9 non-null      object
 3   DFCO    9 non-null      object
 4   DACOEF  9 non-null      object
 5   DFCORE  9 non-null      object
 6   COPRO   9 non-null      int64
 7   CTCOOV  9 non-null      int64
 8   CTCOCL  9 non-null      object
 9   DDVALE  9 non-null      object
 10  DFVALE  9 non-null      object
 11  CESITC  9 non-null      int64
dtypes: int64(3), object(9)
memory usage: 992.0+ bytes

In [9]:
df.head()

,COCO,COMAX,DDCO,DFCO,DACOEF,DFCORE,COPRO,CTCOOV,CTCOCL,DDVALE,DFVALE,CESITC
0,5856256c8621c,a4375be9c2,2018-02-15,9999-12-31,2018-02-15,9999-12-31,49,0,,2018-02-15,9999-01-01,1
1,43e166b8ec1bf,ac68753a67,2016-01-22,9999-12-31,2016-01-22,9999-12-31,49,0,,2016-01-22,9999-01-01,1
2,a33abb28b2dd1,e78af2a187,2015-08-19,9999-12-31,2015-08-19,9999-12-31,49,0,,2015-08-19,9999-01-01,1
3,5923b9ac46620,730c4c47c5,2017-12-15,9999-12-31,2017-12-15,9999-12-31,49,0,,2017-12-15,9999-01-01,1
4,b943bf9d03817,e31986ce26,2012-09-12,9999-12-31,2012-09-12,9999-12-31,49,0,,2012-09-12,9999-01-01,1