In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/tj7s.csv", encoding="ISO-8859-1", sep=";", low_memory=False)

In [3]:
df.shape

(33329627, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33329627 entries, 0 to 33329626
Data columns (total 12 columns):
 #   Column  Dtype
---  ------  -----
 0   COCO    object
 1   COMAX   object
 2   DDCO    object
 3   DFCO    object
 4   DACOEF  object
 5   DFCORE  object
 6   COPRO   object
 7   CTCOOV  object
 8   CTCOCL  object
 9   DDVALE  object
 10  DFVALE  object
 11  CESITC  int64
dtypes: int64(1), object(11)
memory usage: 3.0+ GB

In [5]:
df.head()

,COCO,COMAX,DDCO,DFCO,DACOEF,DFCORE,COPRO,CTCOOV,CTCOCL,DDVALE,DFVALE,CESITC
0,5856256c8621c,a4375be9c2,2018-02-15,9999-12-31,2018-02-15,9999-12-31,00049,00,,2018-02-15,9999-01-01,1
1,43e166b8ec1bf,ac68753a67,2016-01-22,9999-12-31,2016-01-22,9999-12-31,00049,00,,2016-01-22,9999-01-01,1
2,a33abb28b2dd1,e78af2a187,2015-08-19,9999-12-31,2015-08-19,9999-12-31,00049,00,,2015-08-19,9999-01-01,1
3,5923b9ac46620,730c4c47c5,2017-12-15,9999-12-31,2017-12-15,9999-12-31,00049,00,,2017-12-15,9999-01-01,1
4,b943bf9d03817,e31986ce26,2012-09-12,9999-12-31,2012-09-12,9999-12-31,00049,00,,2012-09-12,9999-01-01,1

In [6]:
df = df[['COCO', 'COMAX', 'COPRO' ]]

In [7]:
df.head()

            COCO       COMAX  COPRO
0  5856256c8621c  a4375be9c2  00049
1  43e166b8ec1bf  ac68753a67  00049
2  a33abb28b2dd1  e78af2a187  00049
3  5923b9ac46620  730c4c47c5  00049
4  b943bf9d03817  e31986ce26  00049

In [ ]:
temp = df['COPRO'].count()

In [28]:
# get the best selling products
temp.head(n=150)

00812    16994817
02076     2927934
00647      739754
00065      661904
00160      609741
           ...
02015       11266
00974       11243
00998       11134
07541       11108
02163       10974
Name: COPRO, Length: 150, dtype: int64

In [42]:
temp = temp.index[0:150]

In [46]:
df = df.loc[df['COPRO'].isin(temp)]