In [1]:
import pandas as pd
import numpy as np

In [2]:
pca = pd.read_csv('cleaned-data/PCA-data.csv', encoding='iso-8859-1', sep='\t')
clients = pd.read_csv('cleaned-data/moral-clients.csv', encoding='iso-8859-1', sep='\t')

In [3]:
pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570180 entries, 0 to 570179
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   COMAX   570180 non-null  object
 1   PCA-1   570180 non-null  float64
 2   PCA-2   570180 non-null  float64
 3   PCA-3   570180 non-null  float64
 4   PCA-4   570180 non-null  float64
dtypes: float64(4), object(1)
memory usage: 21.8+ MB

In [4]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342711 entries, 0 to 3342710
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   COMAX   object
 1   CTPE    int64
 2   CORELB  int64
dtypes: int64(2), object(1)
memory usage: 76.5+ MB

In [5]:
clients.head(n=2)

        COMAX  CTPE  CORELB
0  6e3a2b9fa1     1       1
1  6e3a2b9fa1     1       1

In [6]:
data = pd.merge(clients,pca,on='COMAX',how='left')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3342711 entries, 0 to 3342710
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   COMAX   object
 1   CTPE    int64
 2   CORELB  int64
 3   PCA-1   float64
 4   PCA-2   float64
 5   PCA-3   float64
 6   PCA-4   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 204.0+ MB

In [8]:
data

              COMAX  CTPE  CORELB     PCA-1     PCA-2     PCA-3     PCA-4
0        6e3a2b9fa1     1       1 -1.619473  0.067995 -0.194275  0.193045
1        6e3a2b9fa1     1       1 -1.619473  0.067995 -0.194275  0.193045
2        6e3a2b9fa1     1       1 -1.619473  0.067995 -0.194275  0.193045
3        6e3a2b9fa1     1       1 -1.619473  0.067995 -0.194275  0.193045
4        6e3a2b9fa1     1       1 -1.619473  0.067995 -0.194275  0.193045
...             ...   ...     ...       ...       ...       ...       ...
3342706  2ac6fa94b8     1       1  0.600369  0.572224  0.131148 -1.459051
3342707  2ac6fa94b8     1       1  0.600369  0.572224  0.131148 -1.459051
3342708  2ac6fa94b8     1       1  0.600369  0.572224  0.131148 -1.459051
3342709  2ac6fa94b8     1       1  0.600369  0.572224  0.131148 -1.459051
3342710  2ac6fa94b8     1       1  0.600369  0.572224  0.131148 -1.459051

[3342711 rows x 7 columns]

In [11]:
data = data.dropna()

In [12]:
data.shape

(2745203, 7)

In [13]:
data.to_csv('final-mc-data.csv', sep='\t')