In [1]:
import pandas as pd
import numpy as np

In [2]:
pca = pd.read_csv('../cleaned-data/production/PCA-data.csv', encoding='iso-8859-1', sep='\t')
clients = pd.read_csv('../cleaned-data/cleaned/physical-clients.csv', encoding='iso-8859-1', sep='\t')

In [3]:
pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570180 entries, 0 to 570179
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   COMAX   570180 non-null  object
 1   PCA-1   570180 non-null  float64
 2   PCA-2   570180 non-null  float64
 3   PCA-3   570180 non-null  float64
 4   PCA-4   570180 non-null  float64
 5   PCA-5   570180 non-null  float64
 6   PCA-6   570180 non-null  float64
 7   PCA-7   570180 non-null  float64
 8   PCA-8   570180 non-null  float64
 9   PCA-9   570180 non-null  float64
 10  PCA-10  570180 non-null  float64
dtypes: float64(10), object(1)
memory usage: 47.9+ MB

In [4]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833701 entries, 0 to 833700
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   COMAX   833701 non-null  object
 1   AGE     833701 non-null  int64
 2   COSEXE  833701 non-null  int64
 3   CTSCPI  833701 non-null  int64
dtypes: int64(3), object(1)
memory usage: 25.4+ MB

In [5]:
clients.head(n=2)

        COMAX  AGE  COSEXE  CTSCPI
0  6e3a2b9fa1   55       1    4600
1  1b44a67f61   41       0    4700

In [6]:
data = pd.merge(clients,pca,on='COMAX',how='left')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 833701 entries, 0 to 833700
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   COMAX   833701 non-null  object
 1   AGE     833701 non-null  int64
 2   COSEXE  833701 non-null  int64
 3   CTSCPI  833701 non-null  int64
 4   PCA-1   563910 non-null  float64
 5   PCA-2   563910 non-null  float64
 6   PCA-3   563910 non-null  float64
 7   PCA-4   563910 non-null  float64
 8   PCA-5   563910 non-null  float64
 9   PCA-6   563910 non-null  float64
 10  PCA-7   563910 non-null  float64
 11  PCA-8   563910 non-null  float64
 12  PCA-9   563910 non-null  float64
 13  PCA-10  563910 non-null  float64
dtypes: float64(10), int64(3), object(1)
memory usage: 95.4+ MB

In [8]:
data

,COMAX,AGE,COSEXE,CTSCPI,PCA-1,PCA-2,PCA-3,PCA-4,PCA-5,PCA-6,PCA-7,PCA-8,PCA-9,PCA-10
0,6e3a2b9fa1,55,1,4600,-1.619473,0.067995,-0.194275,0.193045,0.966118,0.434827,0.206694,-0.604399,-0.037801,-0.132362
1,1b44a67f61,41,0,4700,1.949925,-1.234185,0.496042,-1.358579,0.458379,-0.033977,0.853659,0.798448,0.051425,-0.185002
2,7e33583438,74,1,8600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b65dd1ba1d,41,0,8400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bdf1f63a98,32,1,3500,0.942095,-1.936260,-0.874105,0.548765,-0.028093,-0.185264,-0.685920,-0.305884,0.706565,-0.332662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833696,9b553d8160,31,0,8400,-2.140916,0.324120,0.051922,0.110041,-0.087729,-0.066425,-0.054953,0.280926,0.170874,-0.178624
833697,156b68c630,67,0,5400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833698,b8469fdb86,59,1,5200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833699,d006611100,81,0,7300,0.143330,0.745251,-0.889416,-0.464557,1.611954,-0.313858,0.879113,0.688309,1.286920,-0.144903
833700,2ac6fa94b8,46,1,4300,0.600369,0.572224,0.131148,-1.459051,0.492570,-0.183194,0.970895,0.060612,-1.277924,1.041777

In [9]:
data = data.dropna()

In [10]:
# save the pca data about the physical clients, intoa file to use later
data.to_csv('../cleaned-data/production/final-pc-data.csv', sep='\t')

In [11]:
data.shape

(563910, 14)